*{
  box-sizing: border-box;
}

.App {
  color: #333;
  border-radius: 4px;
  background-color: #ffffff;
  color: #626472;
  margin: 2em;
  padding: 30px 50px;
  min-height: 320px;
  min-width: 440px;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

body{
  background: #f0efea;
}

#root{
  display:flex;
  justify-content: center;
  min-height: 100vh;
}
