*{
  box-sizing: border-box;
}

body{
  background: #f0efea;
}


.icon {
   width: 1.2em; height: 1.2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   margin-left: 20px;
   cursor: pointer;
}

.App {
  color: #333;
  border-radius: 4px;
  background-color: #ffffff;
  color: #626472;
  margin: 2em;
  padding: 30px 50px;
  min-height: 320px;
  min-width: 440px;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

.App header {
  margin-bottom: 20px;
}

#root{
  display:flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  display: inline;
  margin-bottom: 30px;
}
