* { padding: 0; margin: 0; box-sizing: border-box; }

*::after{ box-sizing: border-box;}
*::before{ box-sizing: border-box; }

ul,ol,dl{ list-style:none;}

a{ color: inherit;}

.todoInput:focus { outline: none;}

input:focus { outline: none;}

input[type=text]  {appearance: none;}
